.news-block {
    background-color: #f3f9fd;

    .date {
        color: #318aca;
        @include fontSize(14px);
        font-weight: 400;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    p {
        color: #323539;
        @include fontSize(16px);
        font-weight: 400;
        line-height: 25px;
    }

    .item {
        &:hover {
            text-decoration: none;

            p {
                color: #254d9c;
            }
        }
    }

    .owl-dots {
        text-align: center;
        margin-top: 30px;

        .owl-dot {
            display: inline-block;
            border-radius: 50%;
            margin: 0 7px;
            width: 10px;
            height: 10px;
            background-color: #a4b8c5;

            &.active {
                width: 12px;
                height: 12px;
                margin-bottom: -1px;
                background-color: #0087d7;
            }
        }
    }

    .base-link {
        margin-top: 40px;
    }

    &.press-center-news {
        .base-wrap {
            padding-top: 0;
        }
        .base-news {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;

            @media (max-width: 1550px) {
                justify-content: center;
            }

            .item {
                width: 100%;
                max-width: 350px;
                padding-bottom: 50px;
                margin: 0 15px;

                .tag {
                    color: #fff;
                    @include fontSize(11px);
                    font-weight: 400;
                    line-height: 25px;
                    background-color: #459fd8;
                    display: inline-block;
                    padding: 0 12px;
                    margin-top: 19px;

                    &.video {
                        position: relative;

                        &:after {
                            content: url(../img/video-tag.png);
                            position: absolute;
                            right: -45px;
                        }
                    }
                }
                .date {
                    padding-top: 12px;
                }
                img {
                    @media (max-width: 400px) {
                        width: 100%;
                        height: auto;
                    }
                }
                &:hover {
                    .tag {
                        background-color: #316cb3;
                    }
                }
            }
        }
    }
}