.more-contacts {
  background-color: #f3f9fd;
  padding: 80px 0 20px;

  .toggle-block {display: none;}
  .wrap {
    max-width: 1520px;
    padding: 0 0 40px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }

    .item {
      background-color: #fff;
      width: 100%;
      max-width: 475px;
      margin: 15px 15px;
      position: relative;
      padding: 30px 0 30px 168px;
      min-height: 200px;

      @media (max-width: 700px) {
        padding: 30px 0 30px 140px;
      }

      img {
        position: absolute;
        top: 30px;
        left: 30px;

        @media (max-width: 700px) {
          left: 15px;
        }
      }
      .name {
        color: #323539;
        @include fontSize(21px);
        font-weight: 400;
        line-height: 1;
        margin-bottom: 12px;
      }
      .position {
        color: #6d6d6d;
        @include fontSize(16px);
        font-weight: 400;
        margin-bottom: 17px;
      }
      .prof-link {
        a {
          @include fontSize(14px);
          font-weight: 400;
          line-height: 30px;

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .more-elements {
    text-align: center;
    margin-bottom: 40px;

    a {
      cursor: pointer;

      &:after {
        content: '\f078';
        font-family: FontAwesome;
        @include fontSize(12px);
        padding-left: 10px;
      }

      &.open {
        &:after {
          content: '\f077';
        }
      }
    }
  }
}
.materials {
  .base-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  .base-title {
    padding-left: 15px;
  }
  .item {
    width: 100%;
    max-width: 350px;
    margin: 0 15px;
    padding-bottom: 30px;

    .item-title {
      color: #323539;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 48px;
      border: 1px solid #cbd6de;
      background-color: #fff;
      padding: 0 22px;
      margin-bottom: 20px;
    }
    li {
      margin-left: 20px;
      position: relative;
      padding-left: 14px;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: block;
        border-radius: 50%;
        background-color: #26509e;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2px;
      }
    }
    a {
      color: #26509e;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 36px;
    }
    .date {
      color: #318aca;
      @include fontSize(14px);
      font-weight: 400;
      line-height: 30px;
      padding-left: 20px;
    }
    p {
      color: #323539;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 25px;
      padding-left: 20px;
      padding-top: 10px;
    }
  }
}
.press-center-text {
  .wrap {
    max-width: 1120px;
    margin: 0 auto;
    padding: 90px 15px 40px;
  }

  .title {
    color: #323539;
    @include fontSize(33px);
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 40px;
  }
  p {
    @include fontSize(15px);
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 40px;

    &.list {
      padding-bottom: 15px;
    }
  }
  li {
    @include fontSize(15px);
    font-weight: 400;
    line-height: 28px;
    position: relative;
    padding-left: 14px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #323539;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      margin-top: -2px;
    }
  }
  a {
    color: #26509e;
    @include fontSize(15px);
    font-weight: 400;
    line-height: 36px;
  }
}

.post {
  .wrap {
    max-width: 1330px;
    padding: 90px 15px 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 950px) {
      flex-direction: column;
      padding: 50px 15px 60px;
    }
  }

  .post-text {
    width: 100%;
    max-width: 940px;
    margin-right: 90px;

    @media (max-width: 950px) {
      margin-right: 0;
    }

    .img-block img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }

    iframe {
      width: 100%!important;
      max-width: 854px;
    }

    .date {
      color: #459fd8;
      @include fontSize(14px);
      font-weight: 400;
      line-height: 25px;
    }

    .post-title {
      color: #323539;
      @include fontSize(33px);
      font-weight: 400;
      line-height: 40px;
      padding: 30px 0 30px;
    }

    p {
      color: #323539;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 25px;
      padding-bottom: 25px;

      &.italic {
        color: #7a7f86;
        @include fontSize(16px);
        font-style: italic;
        line-height: 40px;
      }
    }

    .social-btn-block {
      border-top: 1px solid #dfdfdf;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 45px;
      margin-top: 45px;

      @media (max-width: 430px) {
        flex-wrap: wrap;
      }

      p {
        padding-bottom: 0!important;
        color: #5c5f64;
        @include fontSize(14px);
        font-weight: 400;
        line-height: 21px;
        margin-right: 15px;

        @media (max-width: 430px) {
          width: 100%;
        }
      }

      a {
        display: block;
        width: 100%;
        max-width: 102px;
        background-color: #526eac;
        margin: 5px;
        text-align: center;
        transition: all ease-in 0.2s;
        color: #fff;
        font-weight: 400;
        line-height: 38px;
        font-size: 14px;

        &:hover {
          text-decoration: none;
          opacity: 0.9;
        }

        &.in {background-color: #0077b5;}
        &.tw {background-color: #00abed;}

        i {
          font-size: 16px;
          margin-right: 7px;
        }
      }
    }
  }

  .post-sidebar {
    max-width: 350px;

    @media (max-width: 950px) {
      display: none;
    }

    .base-title {
      @include fontSize(26px);
      line-height: 1;

      &:after {
        margin-top: 20px;
      }
    }

    .item {
      display: block;
      margin-bottom: 50px;

      @media (max-width: 950px) {
        max-width: 300px;
      }

      .tag {
        color: #fff;
        @include fontSize(11px);
        font-weight: 400;
        line-height: 25px;
        background-color: #459fd8;
        display: inline-block;
        padding: 0 12px;
        margin-top: 19px;

        &.video {
          position: relative;

          &:after {
            content: url(../img/video-tag.png);
            position: absolute;
            right: -45px;
          }
        }
      }
      .date {
        padding-top: 12px;
      }
      p {
        color: #323539;
        @include fontSize(16px);
        font-weight: 400;
        line-height: 25px;
      }

      &:hover {
        text-decoration: none;

        p {
          color: #254d9c;
        }

        .tag {
          background-color: #316cb3;
        }
      }
    }
  }
}