.top-team {
  p {
    color: #6d6d6d;
    @include fontSize(18px);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .base-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1330px;
    padding-bottom: 20px;

    @media (max-width: 650px) {
      justify-content: center;
    }
  }

  .top-item {
    margin-bottom: 80px;
    width: calc(33.33% - 18px);
    max-width: 350px;

    @media (max-width: 900px) {
      width: calc(50% - 15px);
    }

    @media (max-width: 650px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }

    .name {
      color: #323539;
      @include fontSize(26px);
      font-weight: 400;
      line-height: 51px;
      padding-top: 20px;
    }
    .position {
      color: #6d6d6d;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .prof-link {
      margin-bottom: 40px;

      a {
        color: #26509f;
        @include fontSize(14px);
        font-weight: 400;
        line-height: 30px;
        margin-right: 25px;

        i {
          @include fontSize(18px);
          margin-right: 8px;
        }
      }
    }
  }
}
.rest-team {
  background-color: #f3f9fd;

  .base-wrap {
    max-width: 1330px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 650px) {
      justify-content: center;
    }
  }

  .item {
    padding: 0 15px 40px;

    img {
      width: 100%;
      height: auto;
      max-width: 305px;
    }
    .name {
      color: #323539;
      @include fontSize(21px);
      font-weight: 400;
      line-height: 40px;
      margin-top: 20px;
    }
    .position {
      color: #6d6d6d;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.profile-info {
  .wrap {
    max-width: 1230px;
    padding: 80px 15px 100px 460px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1100px) {
      padding: 60px 15px 50px 415px;
    }

    @media (max-width: 900px) {
      padding-left: 15px;
    }
  }

  .img {
    position: absolute;
    left: 15px;

    @media (max-width: 900px) {
      position: relative;
      max-width: 350px;
      margin-bottom: 50px;
      left: 0;
    }

    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      display: block;
      width: calc(50% + 30px);
      height: calc(100% + 60px);
      background-color: #f3f9fd;
      top: -30px;
      right: -30px;
    }

    img {
      width: auto;
      height: auto;

      @media (max-width: 900px) {
        width: 100%;
        height: auto;
      }
    }
  }

  .info {
    .name {
      color: #323539;
      @include fontSize(26px);
      font-weight: 400;
      line-height: 1;
      padding-bottom: 10px;
    }
    .position {
      color: #6d6d6d;
      @include fontSize(16px);
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .prof-link {
      margin-bottom: 20px;

      a {
        color: #26509f;
        @include fontSize(14px);
        font-weight: 400;
        line-height: 30px;
        margin-right: 25px;

        i {
          @include fontSize(18px);
          margin-right: 8px;
        }
      }
    }

    .info-block {
      .title {
        color: #323539;
        @include fontSize(21px);
        font-weight: 400;
        line-height: 51px;
        margin-bottom: 20px;

        &:after {
          content: '';
          display: block;
          width: 27px;
          height: 2px;
          margin-top: 3px;
          background-color: #0088d1;
          background-image: linear-gradient(to left, #244b9b 0%, #46a3db 100%);
        }
      }
      p {
        color: #6d6d6d;
        @include fontSize(15px);
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 30px;
      }
    }
  }
}

.why-we-page {
  .wrap {
    max-width: 1120px;
    margin: 0 auto;
    padding: 90px 15px 120px;

    @media (max-width: 991px) {
      padding: 50px 15px 60px;
    }
  }

  p {
    color: #6d6d6d;
    @include fontSize(15px);
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
  }

  .date-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 680px) {
      justify-content: center;
    }

    .item {
      width: calc(33.33% - 15px);
      max-width: 290px;

      @media (max-width: 900px) {
        width: calc(50% - 15px);
      }

      @media (max-width: 680px) {
        width: 100%;
      }

      .date {
        color: #264f9e;
        @include fontSize(18px);
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 5px;
      }

      p {
        margin-bottom: 40px;
      }
    }
  }
  .advanteges {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 680px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    .item {
      width: calc(33.33% - 15px);
      max-width: 290px;

      @media (max-width: 680px) {
        width: 100%;
        text-align: center;
      }

      .number {
        color: #264f9e;
        padding-top: 18px;
        @include fontSize(60px);
        font-weight: 500;
        line-height: 51px;
        margin-bottom: 10px;
        position: relative;
        max-width: 140px;

        @media (max-width: 680px) {
          margin: 0 auto 10px;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          right: 0;
          top: 0;
          width: 70%;
          height: 100%;
          background-color: #e7f3fc;
        }

        span {
          @include fontSize(15px);
          font-weight: 400;
          line-height: 51px;
          display: block;
        }
      }

      p {
        color: #6d6d6d;
        @include fontSize(15px);
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
}