.top-front {
  padding-top: 0!important;
  height: 100vh;

  @media (max-width: 800px) {
    height: auto;
    min-height: inherit!important;
  }

  .item {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;

    @media (max-width: 800px) {
      height: auto;
      display: block;
      padding-top: 95px;
      background: #324379;
    }

    @media (max-width: 600px) {
      padding-top: 70px;
    }

    img {
      position: absolute;
      width: auto;
      min-width: 101%;
      min-height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: -1;

      @media (max-width: 800px) {
        transform: none;
        width: 100%;
        height: auto;
        min-width: inherit;
        min-height: inherit;
        position: static;
      }
    }
  }

  .carousel-content {
    width: 100%;
    max-width: 1650px;
    padding: 0 15px 20vh;
    margin: 0 auto;

    @media (max-width: 800px) {
      padding-bottom: 90px;
      padding-top: 30px;
      background-color: #37467d;

      h1 {
        text-align: left;
      }
    }

    h1 {
      color: #fff;
      @include fontSize(40px);
      font-weight: 400;
      line-height: 51px;
      margin-bottom: 5px;
      text-align: left;
      padding-left: 75px;

      @media (max-width: 800px) {
        margin-bottom: 15px;
        padding-left: 0;
        line-height: 35px;
        @include fontSize(30px);
        margin-bottom: 0;
      }
    }

    p {
      color: #318aca;
      @include fontSize(20px);
      font-weight: 700;
      line-height: 51px;
      margin-bottom: 15px;
      padding-left: 75px;

      @media (max-width: 800px) {
        padding-left: 0;
        margin-bottom: 23px;
      }
    }

    a {
      margin-bottom: 15px;
      margin-left: 75px;

      @media (max-width: 800px) {
        margin-left: 0;
      }
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 10vh;
    max-width: 1650px;
    width: 100%;
    left: calc(50% + 75px);
    transform: translateX(-50%);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 800px) {
      bottom: 50px;
      left: 50%;
    }

    .owl-dot {
      width: 32px;
      height: 3px;
      background-color: #ffffff;
      opacity: 0.2;
      display: inline-block;
      margin-right: 10px;

      &.active {
        opacity: 1;
      }
    }
  }
}
.top-block {
  min-height: 500px;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    min-height: 101%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    color: #fff;
    @include fontSize(35px);
    font-weight: 400;
    line-height: 51px;
    text-align: center;
  }
  .breadcrumb {
    text-align: center;

    li {
      display: inline-block;

      a, span {
        color: #cacee7;
        @include fontSize(13px);
        font-weight: 400;
        line-height: 51px;
      }

      + li {
        &:before {
          content: '\f105';
          font-family: FontAwesome;
          padding-left: 7px;
          padding-right: 10px;
          color: #cacee7;
        }

        &:hover {
          &:before {
            text-decoration: none;
          }
        }
      }
    }
  }
}